<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>MIEM-nav</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<header>
			<h1>MIEM Navigation Project</h1>
		</header>
        <div class="wrapper">
            <div class="app">

                <p>
                    MIEM navigation
                </p>

                <form action="/" method="post" name="login">
                    {{ form.hidden_tag() }}
                    {{ form.start(size=0, placeholder="whence") }}
                    {{ form.finish(size=0, placeholder="where") }}
                    <input class="search" type="submit" value="search">
                </form>

                <button class="hidden" id="next-step">Next step</button>

                <p id="start-data" class="hidden">{{ start }}</p>
                <p id="finish-data" class="hidden">{{ finish }}</p>
                <p id="path" class="hidden">{{ tmp }}</p>





            </div>

            {% include 'map.svg' %}

        </div>

		<footer>

		</footer>

		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

	</body>
</html>