<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>MIEM-nav</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<header>
			<h1>MIEM Navigation Project</h1>
		</header>

		<div class="app">

			<form action="/" method="post" name="login">
				{{ form.hidden_tag() }}
				<p class="input-field">
					{{ form.start(size=0, placeholder="enter vk id") }}
					{{ form.finish(size=0, placeholder="enter vk id") }}
					<input class="search" type="submit" value="search">
				</p>
			</form>

			<p id="start-data">{{ start }}</p>
			<p id="finish-data">{{ finish }}</p>
			<p id="path" class="">{{ tmp }}</p>

            <button class="hidden" id="next-step">Next step</button>

            {% include 'map.svg' %}

		</div>

		<footer>

		</footer>

		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

	</body>
</html>